# KDE Config File
[Desktop Entry]
Type=Application
Exec=heaptrack_gui %u
MimeType=application/x-heaptrack;
# FIXME: get an icon!
Icon=heaptrack
# FIXME: write docs!
# X-DocPath=kcachegrind/index.html
StartupWMClass=heaptrack_gui
Terminal=false
Name=Heaptrack
Name[ca]=Heaptrack
Name[ca@valencia]=Heaptrack
Name[cs]=Heaptrack
Name[da]=Heaptrack
Name[de]=Heaptrack
Name[en_GB]=Heaptrack
Name[es]=Heaptrack
Name[fr]=Heaptrack
Name[gl]=Heaptrack
Name[it]=Heaptrack
Name[ko]=힙 추적
Name[nl]=Heaptrack
Name[nn]=Heaptrack
Name[pl]=Heaptrack
Name[pt]=Heaptrack
Name[pt_BR]=Heaptrack
Name[ru]=Heaptrack
Name[sk]=Heaptrack
Name[sv]=Heaptrack
Name[tr]=Heaptrack
Name[uk]=Heaptrack
Name[x-test]=xxHeaptrackxx
Name[zh_CN]=Heaptrack
GenericName=Profiler Frontend
GenericName[ca]=Frontal per a l'analitzador del rendiment
GenericName[ca@valencia]=Frontal per a l'analitzador del rendiment
GenericName[cs]=Rozhraní pro profilaci
GenericName[da]=Profilerings-frontend
GenericName[de]=Profiler-Oberfläche
GenericName[en_GB]=Profiler Frontend
GenericName[es]=Interfaz de analizador de rendimiento
GenericName[fr]=Interface de profilage
GenericName[gl]=Interface de analizador de rendemento
GenericName[it]=Interfaccia a profiler
GenericName[ko]=프로파일러 프론트엔드
GenericName[nl]=Frontend van profiler
GenericName[nn]=Grensesnitt for profilvising
GenericName[pl]=Nakładka programu profilującego
GenericName[pt]=Interface de Análise de Performance
GenericName[pt_BR]=Interface de análise de performance
GenericName[ru]=Интерфейс к профилировщику
GenericName[sk]=Rozhranie pre profiláciu
GenericName[sv]=Profileringsgränssnitt
GenericName[tr]=Profil Önyüzü
GenericName[uk]=Інтерфейс профілювання
GenericName[x-test]=xxProfiler Frontendxx
GenericName[zh_CN]=分析器前端
Comment=Visualization of Memory Profiling Data
Comment[ca]=Visualització de les dades per a l'anàlisi del rendiment de la memòria
Comment[ca@valencia]=Visualització de les dades per a l'anàlisi del rendiment de la memòria
Comment[cs]=Vizualizace dat profilování paměti
Comment[da]=Visualisering af data fra hukommelsesprofilering
Comment[de]=Visualisierung von Daten des Speicherverhaltens eines Programms
Comment[en_GB]=Visualisation of Memory Profiling Data
Comment[es]=Visualización de datos de análisis de rendimiento de la memoria
Comment[fr]=Visualisation des données de profilage de la mémoire
Comment[gl]=Visualización dos datos da análise de rendemento
Comment[it]=Visualizzazione dei dati di profiling della memoria
Comment[ko]=메모리 프로파일링 데이터 시각화
Comment[nl]=Visualisatie van geheugenprofileringsgegevens
Comment[nn]=Visualisering av minneprofildata
Comment[pl]=Wizualizacja danych profilowania pamięci
Comment[pt]=Visualização dos Dados de Performance da Memória
Comment[pt_BR]=Visualização de dados de análise da memória
Comment[ru]=Визуализация данных потребления памяти
Comment[sk]=Vizualizácia dát profilovania pamäte
Comment[sv]=Visualisering av profileringsdata för minne
Comment[tr]=Bellek Profilleme Verisinin Görselleştirilmesi
Comment[uk]=Візуалізація даних профілювання пам’яті
Comment[x-test]=xxVisualization of Memory Profiling Dataxx
Comment[zh_CN]=可视化内存分析数据
Categories=Qt;KDE;Development;
