# KDE Config File
[Desktop Entry]
Type=Application
Exec=heaptrack_gui %u
MimeType=application/x-heaptrack;
# FIXME: get an icon!
Icon=office-chart-area
# FIXME: write docs!
# X-DocPath=kcachegrind/index.html
Terminal=false
Name=Heaptrack
Name[ca]=Heaptrack
Name[uk]=Heaptrack
Name[x-test]=xxHeaptrackxx
GenericName=Profiler Frontend
GenericName[ca]=Frontal de l'analitzador del rendiment
GenericName[uk]=Інтерфейс профілювання
GenericName[x-test]=xxProfiler Frontendxx
Comment=Visualization of Memory Profiling Data
Comment[ca]=Visualització de les dades per a l'anàlisi del rendiment de la memòria
Comment[uk]=Візуалізація даних профілювання пам’яті
Comment[x-test]=xxVisualization of Memory Profiling Dataxx
Categories=Qt;KDE;Development;
