# KDE Config File
[Desktop Entry]
Type=Application
Exec=heaptrack_gui %u
MimeType=application/x-heaptrack;
# FIXME: get an icon!
Icon=office-chart-area
# FIXME: write docs!
# X-DocPath=kcachegrind/index.html
Terminal=false
Name=Heaptrack
Name[ca]=Heaptrack
Name[ca@valencia]=Heaptrack
Name[cs]=Heaptrack
Name[de]=Heaptrack
Name[en_GB]=Heaptrack
Name[es]=Heaptrack
Name[gl]=Heaptrack
Name[it]=Heaptrack
Name[nl]=Heaptrack
Name[pl]=Heaptrack
Name[pt]=Heaptrack
Name[sk]=Heaptrack
Name[sv]=Heaptrack
Name[uk]=Heaptrack
Name[x-test]=xxHeaptrackxx
Name[zh_CN]=堆栈追踪
GenericName=Profiler Frontend
GenericName[ca]=Frontal de l'analitzador del rendiment
GenericName[ca@valencia]=Frontal de l'analitzador del rendiment
GenericName[cs]=Rozhraní pro profilaci
GenericName[de]=Profiler-Oberfläche
GenericName[en_GB]=Profiler Frontend
GenericName[es]=Interfaz de analizador de rendimiento
GenericName[fr]=Interface de profilage
GenericName[gl]=Interface de analizador de rendemento
GenericName[it]=Interfaccia a profiler
GenericName[nl]=Frontend van profiler
GenericName[pl]=Nakładka programu profilującego
GenericName[pt]=Interface de Análise de Performance
GenericName[sk]=Rozhranie pre profiláciu
GenericName[sv]=Profileringsgränssnitt
GenericName[uk]=Інтерфейс профілювання
GenericName[x-test]=xxProfiler Frontendxx
GenericName[zh_CN]=性能测试数据前端
Comment=Visualization of Memory Profiling Data
Comment[ca]=Visualització de les dades per a l'anàlisi del rendiment de la memòria
Comment[ca@valencia]=Visualització de les dades per a l'anàlisi del rendiment de la memòria
Comment[cs]=Vizualizace dat profilování paměti
Comment[de]=Visualisierung von Daten des Speicherverhaltens eines Programms
Comment[en_GB]=Visualisation of Memory Profiling Data
Comment[es]=Visualización de datos de análisis de rendimiento de la memoria
Comment[fr]=Visualisation des données de profilage de la mémoire
Comment[gl]=Visualización dos datos da análise de rendemento
Comment[it]=Visualizzazione dei dati di profiling della memoria
Comment[nl]=Visualisatie van geheugenprofileringsgegevens
Comment[pl]=Wizualizacja danych profilowania pamięci
Comment[pt]=Visualização dos Dados de Performance da Memória
Comment[sk]=Vizualizácia dát profilovania pamäte
Comment[sv]=Visualisering av profileringsdata för minne
Comment[uk]=Візуалізація даних профілювання пам’яті
Comment[x-test]=xxVisualization of Memory Profiling Dataxx
Comment[zh_CN]=内存测试数据的可视化表现
Categories=Qt;KDE;Development;
